<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Jogador</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Edit Player</h1>

		<div class="form-container">
			<form th:action="@{/jogadores/atualizar/{id}(id=${jogador.id})}"
				method="post">
				<label for="nome">Player Name:</label> <input type="text" id="nome"
					name="nome" th:value="${jogador.nome}" required> <label
					for="numeroCamisa">Number:</label> <input type="number"
					id="numeroCamisa" name="numeroCamisa"
					th:value="${jogador.numeroCamisa}" required> <label
					for="gols">Goals:</label> <input type="number" id="gols"
					name="gols" th:value="${jogador.gols}" required>

				<button type="submit" class="btn btn-save">💾 Save</button>
			</form>


			<a th:href="@{/times}" class="btn btn-back">🔙 Return </a>
		</div>

	</div>
</body>
</html>
